body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 600px;
    
    width: 100%;
    
}

.card {
    width: 290px; 
    background-color: #222831 ;
    padding: 0.5rem;
    height: auto;
    border-radius: 5px
}

.card h2 {
    margin: 0 0 10px;
    color: white;
}

.card p {
    margin: 0;
    color: white;
}
.btn{
    border: 4px solid;
    height: 50px;
    width: 200px;
    border-color: blue;
    font-size: 20px;
    background-color:  #222831;
    margin-left: 40px;
    margin-top: 40px;
 }
 .btn:hover{
    border-style: solid;
    border-color: rgb(1, 1, 2);
 }

 .btn1{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: red;
    background-image: url(pics/instagram.jpeg);
    background-size: cover;
    display: inline-flex;
    flex-direction: row;
    margin-inline: 13px;
    margin-top: 120px;
    justify-content: space-evenly;
}
.box1{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: red;
    background-image: url(pics/twitter.jpeg);
    background-size: cover;
    display: inline-flex;
    flex-direction: row;
    margin-inline: 13px;
    margin-top: 120px;
    justify-content: space-evenly;
}
.box2{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: red;
    background-image: url(pics/download\ \(1\).jpeg);
    background-size: cover;
    display: inline-flex;
    flex-direction: row;
    margin-inline: 13px;
    margin-top: 120px;
    justify-content: space-evenly;
}
.box3{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: red;
    background-image: url(pics/download.jpeg);
    background-size: cover;
    display: inline-flex;
    flex-direction: row;
    margin-inline: 13px;
    margin-top: 120px;
    justify-content: space-evenly;
}
.box:hover{
    border-style: solid;
    border-color: rgb(1, 1, 2);

}

.box1:hover{
    border-style: solid;
    border-color: rgb(1, 1, 2);
}

.box2:hover{
    border-style: solid;
    border-color: rgb(1, 1, 2);
}

.box3:hover{
    border-style: solid;
    border-color: rgb(1, 1, 2);
}
.circle{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    background-color: black;
    background-image: url(pics/pic\ 1.webp);
    background-size: cover;
    margin-left: 75px;
    margin-top: 30px;
}

.circle1{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    background-image: url(pics/pic2.webp);
    background-size: cover;
    background-color: orangered;
    margin-left: 75px;
    margin-top: 30px;
}

.circle2{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    background-image: url(pics/pic3.webp);
    background-size: cover;
    background-color: orangered;
    margin-left: 75px;
    margin-top: 30px;
}